{% layout 'layout.liquid'%}
{% block content %}
<h2 class="m-3">My Fridge</h2>
{% if fridge.length > 0 %}
    <div class="container-md">
            {% for item in fridge %}
                <div class="card me-3 mb-3" style="width: 18rem;">
                    <h5 class="card-header">{{item.item}}</h5>
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if item.quantity > 0 %}
                                Quantity: {{item.quantity}}
                                <br>
                                Date Added: {{item.dateAdded}}
                                <br>
                                Expiration Date: {{item.expiration}}
                            {% else %}
                                You ran out of {{item.item}}
                            {% endif %}
                        </h5>
                        <a href="fridge/edit" class="btn btn-info">Edit <a>
                        <a href="fridge" class="ml-3 btn btn-danger">Delete </a>
                    </div>
                </div>
            {% endfor %}
    </div>
{% else %}
    <div class="container-md">
        <h2 class="m-3">Your fridge is empty... Go get some groceries!</h2>
        <a class='m-3 btn btn-info' href="fridge/new">Log New Items Here</a>
    {% endif %}
    </div>
</div>
{% endblock %}