{% layout 'layout.liquid' %}
{% block content %}
  <h2 class="m-3">
    Notes Log
  </h2>
  {% if loggedIn %}
    <div class="container-md">
      <div class="g-col-4 card me-3 mb-3 " style="width: 45%;">
        <div class="card-body">
          <h4 class="mb-3 card-header">{{ fridge.item }}</h4>
          {% if loggedIn %}
            Quantity: {{ fridge.quantity }}
            <br>
            Date Added: {{ fridge.dateAdded | date: "%A, %B %e, %Y" }}
            <br>
            Expiration Date: {{ fridge.expiration | date: "%A, %B %e, %Y" }}
          {% else %}
            You ran out of {{ fridge.item }}
          {% endif %}
          <br>
          <a href="/fridge/{{fridge._id}}/edit" class="btn btn-info">
            Edit
          </a>
          <form action="/fridge/{{fridge.id}}?_method=DELETE" method="POST">
            <input
              type="submit"
              class="btn btn-danger"
              value="Delete">
          </form>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="container-md">
    <hr>
    <h4>Notes</h4>
    <hr>
    {% if loggedIn %}
      <div class="col-md-6">
        <form action="/fridge/{{ fridge.id }}/" method="POST">
          <fieldset>
            <legend>Add a Note</legend>
            <label class="form-label">Input Text Below:
            </label>
            <input
              type="text"
              name="note"
              class="form-control mb-1">
          </fieldset>
          <input
            type="submit"
            class="btn btn-success"
            value="Add comment">
        </form>
      </div>
    {% else %}
      <div class="col-md-6">
        <small>If you'd like to leave a comment, please log in...</small>
      </div>
    {% endif %}
    <hr>
    {% if fridge.comments.length > 0 %}
      <div class="container-sm justify-content-center">
        {% render '../comment.liquid', comm: comm, userId: userId, fridge: fridge %}
      </div>
    {% else %}
      <small>No notes yet...</small>
    {% endif %}
  </div>
{% endblock %}