{% layout 'layout.liquid'%}
{% block content %}
<h2 class="m-3"> Notes Log </h2>
{% if loggedIn %}
<div class="container-md">
    {% for item in fridge %}
    <div class="g-col-4 card me-3 mb-3 " style="width: 45%;">
        <div class="card-body">
            <h4 class="mb-3 card-header">{{ item.item }}</h4>
            {% if loggedIn %}
            Quantity: {{ item.quantity }}
            <br>
            Date Added: {{ item.dateAdded | date: "%A, %B %e, %Y" }}
            <br>
            Expiration Date: {{ item.expiration | date: "%A, %B %e, %Y" }}
            {% else %}
            You ran out of {{ item.item}}
            {% endif %}
            </h5>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}


<div class="container-md">
    <hr>
    <h4>Notes</h4>
    <hr>
    {% if loggedIn %}
    <div class="col-md-6">
        <form action="/fridge/{{ item._id }}" method="POST">
            <fieldset>
                <legend>Add a Note</legend>
                <label class="form-label">Input Text Below: </label>
                <input type="text" name="note" class="form-control mb-1">
            </fieldset>
            <input type="submit" class="btn btn-success" value="Add comment">
        </form>
    </div>
    {% else %}
    <div class="col-md-6">
        <small>If you'd like to leave a comment, please log in...</small>
    </div>
    {% endif %}
    <hr>
    {% if fridge.comments.length > 0 %}
    <div class="container-sm justify-content-center">
        {% for comm in fridge.comments %}
        {% render '../comment.liquid', comm: comm, userId: userId, fridge: fridge%}
        {% endfor %}
    </div>
    {% else %}
    <small>No notes yet...</small>
    {% endif %}
</div>
{% endblock %}